{
  "env": {
    "browser": true,
    "es6": true,
    "amd": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "react",
    "babel",
    "import",
    "jest"
  ],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "off",
    "no-class-assign": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-useless-escape": 0,
    "no-prototype-builtins": "off",
    "no-redeclare": [
      "error",
      {
        "builtinGlobals": false
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "env": {
        "browser": true,
        "es6": true,
        "node": true
      },
      "rules": {
        "react/no-undef": "off"
      },
      "globals": {
        "React": false
      },
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "plugins": [
        "@typescript-eslint"
      ]
    }
  ],
  "globals": {
    "L10n": false,
    "moment": false,
    "module": false,
    "_localStorage": false
  }
}